@import '../../../theme/web/custom-variables';

// DND Test
.dndWrapper {
    display: flex;
    gap: 16px;
    .dndContents {
        width: 100px;
        height: 100px;
        background-color: #264ae5;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 26px;
        font-weight: 600;
    }
}

// Approval Page
.approval {
    padding: 16px;
    background-color: white;
    .approval-content {
        height: 400px;
        overflow-y: auto;
    }
    table {
        tbody {
            border-top: 3px solid #666666;
            border-bottom: 1px solid #ced0d3;
            tr {
                border-bottom: 1px solid #ced0d3;
                th, td {
                    vertical-align: middle;
                }
                th {
                    background-color: #f8f8f8;
                    font-weight: 500;
                    text-align: right;
                }
                td {
                    .form-group {
                        margin-bottom: 0px;
                    }
                }
            }

        }
    }
    .table {
        .table-content {
            border: 1px solid #ced0d3;
            border-bottom: none;
            .th, .td {
                vertical-align: middle;
                border-top: none;
                border-bottom: 1px solid #ced0d3;
            }
            .th {
                background-color: #f8f8f8;
                font-weight: 500;
                text-align: center;
            }
            .td {
                .form-group {
                    margin-bottom: 0px;
                }
            }
        }
    }
    .input-name {
        width: 190px;
    }
    .mx-tabcontainer:not([class*=dep]) > ul.nav-tabs {
        & > li.active > a {
            border-bottom: 3px solid #0a1325;
        }
        & > li > a {
            border-bottom: 3px solid transparent;
        }
    }
}
