/CallTeamcenterService.class
/CloseBOMWindows.class
/CreateBOMWindows.class
/CreateBOMWindows2.class
/CreateObject.class
/CreateRelation.class
/CreateWorkflow.class
/DownloadFiles.class
/DownloadImages.class
/ExecuteSavedQueries.class
/ExecuteSavedQueriesWithObjectRefresh.class
/ExpandGRMRelationsForPrimary.class
/ExpandGRMRelationsForSecondary.class
/ExpandPSAllLevels.class
/ExpandPSOneLevel.class
/ExpandPSOneLevel2.class
/FindSavedQueries.class
/FindUsersTasks.class
/GetAllTasks.class
/GetAttachedLOV.class
/GetAvailableDatasetTypes.class
/GetFileTypesForDatasetType.class
/GetImanFiles.class
/GetInitialLOVValues.class
/GetItemFromId.class
/GetNextLOVValues.class
/GetProperties.class
/GetRevisionRules.class
/GetTcSessionInfo.class
/GetTcSessionInformation.class
/GetVariantRule.class
/GetWorkflowTemplates.class
/Login.class
/Logout.class
/PerformAction.class
/PerformGeneralQuerySearchAW.class
/PerformItemSimpleQuerySearchAW.class
/PerformSearch.class
/RetrieveCookie.class
/ReviseObjects.class
/SSORedirectRequestHandler.class
/SetProperties.class
/UploadFiles.class
/UploadTemporaryFiles.class
/WhereUsed.class
/__SSOCallBackRequest.class
