/* Line */
.MFI_KanbanLine {
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: auto;
  height: 70vh;
}

.MFI_KanbanLine_dnd_draggable_item {
  box-shadow: 0px 2px 4px 0px rgba(38, 74, 229, 0.15);
  background-color: #fff;
  border-radius: 10px;
  width: auto;
  height: 100%;
  margin: 4px;
  .widget-html-element {
    padding: 6px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.dnd_draggable_not_dragging,
.dnd_draggable_dragging{
  flex-grow: 1;
  flex-basis: 100%;
}

/* Cards */
.MFI_KanbanCard {
  border-radius: 10px;
  overflow: auto;
  padding: 10px;
}

.MFI_KanbanCard_dnd_draggable_item {
  border: 1px solid var(--bg, #EEF3FA);
  box-shadow: 0px 2px 4px 0px rgba(38, 74, 229, 0.15);
  background-color: #fff;
  border-radius: 10px;
  padding: 4px;
  margin: 4px;
  &:focus-visible {
    background-color: rgb(194, 194, 194); // Add this for A11y
  }
}
.dnd_draggable_item{
  flex-basis: 0 !important;
}

.MFI_KanbanCard_dnd_draggable_hover {
  background-color: #E1E1E1;
}

.MFI_KanbanCard_dnd_draggable_dragging {
  opacity: 0.4;
}

.MFI_KanbanCard_dnd_at_end_over {
  border-radius: 10px;
  background-color: rgba(201, 201, 201, 0.372);
}
.dnd_drag_preview_container {
  overflow: hidden;
}
