//
//
// ./widgets/_input.scss
//
//
.filter-container {
	position: relative;
	& .react-datepicker-wrapper {
	}
	& button {
		position: absolute;
		right: 0;
		border: 0;
		background-color: transparent;
		outline: none !important;
		&:hover,
		&:active,
		&:focus {
			background-color: transparent;
			color: $main-font-color;
		}
	}
}
input.form-control {
}

.form-horizontal {
	& .form-group {
		margin: 0 !important;
		align-items: center;
		gap: 4px;
		& label {
			padding: 0;
			font-size: 13px;
		}
		& > [class*='col'] {
		}
	}
}
.form-group {
	& label {
		font-size: 13px;
	}
	& > [class*='col'] {
		padding: 0;
	}
}
